<section class="simpler-quests tracker{{#if collapsed}} collapsed{{/if}} docked" style="--offset: {{offset}}; --trackerWidth: {{trackerWidth}}px; --trackerMaxHeight: {{trackerMaxH}}px;">
    {{#if collapsed}}
        <div class="header">
            <div class="minimize"><i class="fas fa-scroll"></i></div>
        </div>
    {{else}}
        <div class="header">
            <h3>Active Quests</h3>
            {{#if isGM}}
                <div class="new-quest" title="Add Quest"><i class="fa-solid fa-plus"></i></div>
            {{/if}}
            <div class="minimize"><i class="fa-solid fa-window-minimize"></i></div>
        </div>
        {{> trackerBody}}
    {{/if}}
</section>