<section>
    <button
        type="button"
        class="ui-control plain icon fa-solid fa-scroll"
        data-action="tab"
        data-tab="mythics-simpler-quests"
        role="tab"
        aria-pressed="false"
        data-group="primary"
        aria-label="Mythics Simpler Quests"
        aria-controls="Mythics Simpler Quests"
        data-tooltip=""
    ></button>
</section>