.tracker {
    --dark-rail: var(--dark-text);
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--dark-text);
    pointer-events: auto;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.tracker.docked {
    position: absolute;
    top: calc(5px + var(--offset));
    right: 0;
    width: var(--trackerWidth);
    max-height: var(--trackerMaxHeight);
}

.tracker.docked > .header {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    background-color: var(--dark-background);
    border-radius: 0.5rem 0 0 0;
    gap: 0.5rem;
    & > h3 {
        flex: 1;
        margin: 0;
        font-size: 0.7rem;
        border-bottom: unset;
    }

    & > .minimize {
        cursor: pointer;
        font-size: 0.7rem;
    }

    & > .new-quest {
        cursor: pointer;
        font-size: 0.7rem;
    }
    width: 100%;
}

.simpler-quests.tracker.collapsed,
.simpler-quests.tracker.collapsed > .header {
    border-radius: 0.5rem 0 0 0.5rem;
    width: unset;
}

.simpler-quest-list {
    background-color: rgba(var(--dark-background), var(--window-opacity));
    padding: 0 0.5rem 0.5rem 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
    overflow-y: scroll;
}

.simpler-tracked-quest > .header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    border-bottom: 1px solid var(--dark-border);
    margin-bottom: 0.5rem;
    width: 100%;

    &:hover {
        & > div {
            display: block;
        }
    }

    & > h3 {
        font-size: 1rem;
        flex: 1;
        padding: 0px;
        border-bottom: unset;
        margin: 0;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 0;
    }

    & > div {
        display: none;
        cursor: pointer;
    }
}

.simpler-quest-objective {
    color: var(--dark-text);
    margin-left: 1rem;
    font-size: 0.9rem;
}

.subobjective {
    position: relative;
}

.subobjective > .border-left {
    position: absolute;
    top: 0;
    left: 0.4rem;
    height: 0.5rem;
    width: 0.5rem;
}
.subobjective > .border-down {
    position: absolute;
    top: 0.5rem;
    left: 0.4rem;
    bottom: 0;
    width: 0.5rem;
}

.simpler-quest-objective.complete {
    text-decoration: line-through;
}

.simpler-quest-objective.failed {
    --dark-rail: var(--dark-failed);
    --dark-text: var(--dark-failed);
    color: var(--dark-failed);
}

.simpler-quest-objective.secret {
    --dark-rail: var(--dark-secret);
    color: var(--dark-secret);
}

.subobjective > .border-left {
    border-left: 1px solid var(--dark-rail);
    border-bottom: 1px solid var(--dark-rail);
}

.subobjective > .border-down {
    border-left: 1px solid var(--dark-rail);
}
